{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="d-flex justify-content-between">
    <h2>{{ post.title }}</h2>
        <div>
            <div class="">
                작성자: {{ post.author }}
                {% if user == post.author %}
                    <a href="{% url "blog:post_edit" post.pk %}" class="btn btn-outline-info">수정하기</a>
                    <a href="{% url "blog:post_delete" post.pk %}" class="btn btn-outline-danger">삭제하기</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container">
            {{ post.content|linebreaks }}
        </div>
    </div>

    <p>댓글 ({{ post.comment_set.all.count }})</p>

    <div class="comment-list">
        {% for comment in post.comment_set.all %}
            <div class="card">
                작성자: {{ comment.author }}
                {{ comment.content|linebreaks }}
            </div>
        {% endfor %}
    </div>
{% endblock %}