{% load bootstrap5 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amazing Django!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
            <a href="{% url 'root' %}" class="navbar-brand">
                <i class="fa-brands fa-python text-primary me-1"></i>
                <B>Django is Amazing!</B>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav gap-2">
                    {% if not request.path == list_path %}
                        <a href="{% url "blog:post_list"%}" class="btn btn-outline-primary">목록으로</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                            <a href="{% url "blog:post_create" %}" class="btn btn-outline-danger">글쓰기</a>
                            <a href="{% url "accounts:logout" %}" class="btn btn-outline-success">로그아웃</a>
                    {% else %}
                        {% url 'accounts:login' as login_path %}
                        {% if not request.path == login_path %}
                            <a href="{% url "accounts:login" %}" class="btn btn-outline-danger">로그인</a>
                            <a href="{% url "accounts:signup" %}" class="btn btn-outline-secondary">회원가입</a>
                        {% endif %}
                        {% url 'blog:post_list' as list_path %}
                    {% endif %}
                </div>
            </div>
        </nav>
        <hr>
        <div class="card">
            <div class="card-body">
                {% bootstrap_messages %}

                {% block content %}
                {% endblock %}
            </div>
        </div>

    <hr>
    &copy; 2022 Pythonistar
</div>
</body>
</html>