{% load bootstrap5 %}
<!doctype html>
<html lang="ko">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amazing Django!</title>
</head>
<body>
<h1>Django is Amazing!</h1>
<hr>


<div class="container">
    {% block content %}
    {% endblock %}
</div>

<hr>
&copy; 2022 Pythonistar
</body>
</html>